# @license UNLICENSED
# @copyright U IRIS. All rights reserved.
# @author Florian Daguin <florian.daguin@systeme-u.fr>

# @file NPM configuration file.
# @see https://www.npmjs.com/
# @see https://docs.npmjs.com/cli/v7/configuring-npm/npmrc

registry=https://artifactory-iris.groupement.systeme-u.fr/artifactory/api/npm/npm-registry
always-auth=true
